
$primary: blue;
$info: grey;
$success: green;



.btn-primary {
    background-color: $primary;
}
.btn-info {
    background-color: $info;
}
.btn-success {
    background-color: $success;
}

.full-width{
    width: 95%;
}
.half-width{
    width: 45%;
}
.form-size{
    width: 75%;
}